accelerate~=0.18.0
bitsandbytes~=0.37.2
build>=0.10.0
coverage>=6.4.2
flake8>=3.7.9
flask>=2.2.1
huggingface-hub~=0.13.4
pytest>=6.2.5
torch>=1.12.1
transformers[sentencepiece]~=4.27.4
waitress~=2.1.2
